{% load static %}

<html>
    <head>
        <title>Coffee Studio</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to Coffee Studio</h1>
        <p>Kick start your day with a cup of coffee :) </p>
        <p>For queries please contact 9999999999</p>
        <a href="second">Click here for snacks</a>
        <p>Coffees:</p>
        <li>Chocolate coffee</li>
        <li>Cold coffee</li>
        <li>Black coffee</li>
        <li>Vannila coffee</li>
        <li>Green tea</li>
        <li>Dalgona coffee</li>
        <li>Bru coffee</li>
        <li>sunrises coffee</li>
    </body>
</html>