{% load static %}

<html>
    <head>
        <title>Coffee Studio</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome to Coffee Studio</h1>
        <p> Beverages corner</p>
        <a href="first">Click here for Home</a>
        <p>Beverages:</p>
        <li>7up</li>
        <li>Pepsi</li>
        <li>Sharja</li>
        <li>Cocacola</li>
        <li>thumbs up</li>
        <li>Chocolate milk shake</li>
        <li>Vannila milk shake</li>
        <li>Mango milk shake</li>
        
    </body>
</html>